
body{
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight:400;
  line-height:1.4;
  color: white;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    min-width: 600px;
}
main{
  text-align:center;
  margin:0 auto;
}
h1,p{
  margin-top:0;
  margin-bottom: 0.5rem;
}
#title{
  
}
#description{
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4)
}
fieldset{
  border: 0;
}
form{
  background: hsla(250, 75%, 10%, 50%);
  border-radius: 0.25rem;
  margin: 0 auto;
  padding: 5px 0;
}
label{
  display: block;
  margin: 5px 0px;
  font-size: 1.125rem;
  padding: 0px 0px;
}
input{
  display: block;
  margin:15px 0;
  width:96%;
  border-radius:0.25rem;
  border:0;
  padding: 8px 5px;
}
.role{
  margin:0 auto;
}
select{
  width:96%;
  height:30px;
  border-radius:0.25rem;
  border: 0;
  margin: 15px 0;
}
.recommend{
  margin: 0 auto;
  display: block;

}
input[type="radio"]{
  width:15px;
  margin:0 auto;
  display: inline-block;
}
input[type="checkbox"]{
  width:15px;
  margin:0 0;
  display: inline-block;
}
textarea{
  width:96%;
  border-radius:0.25rem;
  border: 0;
}
p{
  display:block;
}
#submit{
  margin:5px auto;
  width: 30%;
  padding: 8px 0;
  color: white;
  background-color:#37af65;
}
